<h1>Registrar tipodoumento</h1>
<h3>Ejemplo validacion de formularios reactivos con directiva</h3>
<form [formGroup]="tipodocumentoForm" (ngSubmit)="crear()">
  <div class="row">
    <div class="col-sm-2">
      <label>Id:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="id" name="id" placeholder="Id" class="form-control"
        formControlName="id">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
      <label>Tipo identificacion:</label>
    </div>
    <div class="col-sm-4">
      <input validar type="text" id="tipoIdentificacion" name="tipoIdentificacion" placeholder="Descripción tipoIdentificacion"
        class="form-control" formControlName="tipoIdentificacion">
    </div>
  </div>
</form>
