<nav>
  <a id="linkTipoDocumento" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Tipo documento</a>
  <a id="linkTipoDocumento" routerLink="./actualizar" routerLinkActive="active">Actualizar tipo documento</a>
  <a id="linkTipoDocumento" routerLink="./crear" routerLinkActive="active">Crear tipo documento</a>
  <a id="linkTipoDocumento" routerLink="./borrar" routerLinkActive="active">Borrar tipo documento</a>
  <a id="linkTipoDocumento" routerLink="./listar" routerLinkActive="active">listar tipo documento</a>
</nav>
<router-outlet></router-outlet>
