@import 'src/assets/scss/modules/_mixins.scss';

.container-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
  
    @include media(mdmin) {
      flex-wrap: unset;
    }
  }

.generic-card {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;

  @include media(xsmin) {
    width: calc(50% - 42px);

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @include media(mdmin) {
    flex: 1;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.content-card {
  color: #4b4b4b;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}

.tittle-card {
  font-size: 1.25rem;
  color: #4b4b4b;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.mat-card-image {
  width: calc(70% + 12px) !important;
  margin: 0 -20px 20px 30px !important;
}
