<nav>
  <a id="linkProducto" routerLink="./" routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">Cliente</a>
  <a id="linkActualizarProducto" routerLink="./actualizar" routerLinkActive="active">Actualizar cliente</a>
  <a id="linkCrearProducto" routerLink="./crear" routerLinkActive="active">Crear cliente</a>
  <a id="linkBorrarProducto" routerLink="./borrar" routerLinkActive="active">Borrar cliente</a>
  <a id="linkListarProducto" routerLink="./listar" routerLinkActive="active">listar cliente</a>
</nav>
<router-outlet></router-outlet>
