@import 'src/assets/scss/modules/_mixins.scss';
.example-card {
  width: 100%;
  margin-bottom: 20px;



//  @include  media(md) {
 @media (min-width: 560px) {
    width: calc(50% - 42px);

    &:nth-child(odd) {
      margin-right: 20px;
    }
  }

  @media (min-width: 1024px) {
    flex: 1;
    margin-bottom: 0;

    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}
  
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: 1024px) {
    flex-wrap: unset;
  }
}


.content-card{
  color: #4b4b4b;
  font-weight: 100;
  letter-spacing: 1px;
  font-family: 'Poppins', sans-serif;
}
.tittle-card{
  font-size: 1.25rem;
  color: #4b4b4b;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
 
}



.mat-card-image {
  width: calc(70% + 12px) !important;
  margin: 0 -20px 20px 30px !important;
}

 /* .mat-card-image {
   
    border-radius: 60%;
    flex-shrink: 0;
    object-fit: cover;
}*/